// life-snkrz top
.life-top-section.snkrz {
  background-color: #121116;

  &::before {
    background-image: url("#{$rootPath}/img/img_snkrz_visual.jpg");
    background-position: center center;
    background-size: auto 400px;

    @include md {
      background-position: center center;
      background-size: auto 400px;
    }

    @include sm {
      background-position: center center;
      background-size: auto 400px;
      mask-image: linear-gradient(180deg, rgb(26 26 26 / 70%) 0%, rgb(26 26 26 / 70%) 100%);
    }
  }

  &::after {
    @include sm {
      display: none;
    }
  }

  h2 .title .symbol {
    border: 1px solid $white;

    @include lg {
      width: 46px;
      height: 46px;
    }

    .icon-logo-wrap {
      width: 100%;
      height: 100%;
    }
  }
}

.life-snkrz-inner {
  .section {
    // bg 없는 section
    @include maxWidthLg;
  }

  .bg-section {
    // bg 있는 section
    padding: 80px 0;
    background-color: #f6f8fb;

    @include md {
      padding: 60px 0 80px;
    }

    @include sm {
      padding: 40px 0 60px;
    }

    &-inner {
      @include maxWidthLg;
    }
  }

  // 공통 title 컴포넌트
  .snkrz-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      @include fontFamilyNDisplay(MB_V);
    }

    p {
      margin-top: 12px;
      white-space: pre-line;

      @include fontFamilyNBody(XLB_F);

      @include md {
        display: none;
      }

      @include sm {
        display: none;
      }
    }
  }

  // overview 탭

  // 쉽고 재밌어진~ section
  .overview-system-wrap {
    margin-top: 80px;

    @include sm {
      margin-top: 60px;
    }

    .system-card-wrap {
      display: flex;
      flex-wrap: wrap;
      margin-top: 32px;

      @include lg {
        gap: 20px;
      }

      @include md {
        max-width: 460px;
        margin: 24px auto 0;
        gap: 24px;
      }

      @include sm {
        gap: 16px;
      }

      .system-card {
        position: relative;
        width: 100%;
        padding: 40px;
        border-radius: 8px;
        backdrop-filter: blur(30px);
        background-color: $gray100;

        @include sm {
          padding: 24px;
        }

        .title {
          @include fontFamilyNHeading(LB_V);
        }

        .sub-title {
          margin-top: 16px;

          @include fontFamilyNBody(LR_F);

          @include sm {
            margin-top: 12px;
          }
        }

        .detail {
          margin-top: 32px;
          color: $gray30;
          white-space: pre-line;

          @include sm {
            margin-top: 24px;
          }
        }

        &:nth-child(1) {
          overflow: hidden;
          height: 290px;

          @include lg {
            max-width: 696px;
          }

          .sub-title {
            @include lg {
              max-width: 349px;
            }
          }

          .img {
            position: absolute;
            width: 180px;
            aspect-ratio: 1/1;

            @include lg {
              top: 36px;
              right: 36px;
              width: 224px;
            }

            @include md {
              right: 21px;
              bottom: -34px;
            }

            @include sm {
              right: 0;
              bottom: -30px;
            }
          }
        }

        &:nth-child(2) {
          @include lg {
            max-width: 484px;
            height: 290px;
          }

          .sub-title {
            @include lg {
              max-width: 312px;
            }
          }

          .img {
            position: absolute;
            top: 24px;
            right: 52px;
            width: 515px;
            height: 234px;
          }
        }

        &:nth-child(3) {
          .sub-title {
            @include lg {
              max-width: 435px;
            }
          }

          .img {
            position: relative;
            aspect-ratio: 515/234;

            @include lg {
              position: absolute;
              top: 24px;
              right: 52px;
              width: 515px;
            }

            @include md {
              width: 100%;
              margin-top: 32px;
            }

            @include sm {
              width: 100%;
              margin-top: 24px;
            }
          }
        }
      }
    }
  }

  // more about 섹션
  .overview-moreabout-wrap {
    .system-card-wrap {
      display: flex;
      flex-direction: row;
      margin-top: 32px;
      gap: 21px;

      @include md {
        max-width: 460px;
        flex-direction: column;
        margin: 32px auto 0;
        gap: 24px;
      }

      @include sm {
        width: 100%;
        flex-direction: column;
        margin: 32px auto 0;
        gap: 16px;
      }

      .system-card {
        flex: 1;
        padding: 24px 32px;
        border-radius: 8px;
        background-color: $white;

        .system-card-image {
          position: relative;
          width: 150px;
          height: 100px;

          @include sm {
            width: 120px;
            height: 80px;
          }
        }

        .system-card-label {
          display: inline-block;
          padding: 4px 16px;
          border-radius: 120px;
          margin-top: 40px;
          background-color: $neithBlack;

          &-txt {
            color: $snkr2;

            @include fontFamilyNHeading(MB_V);
          }
        }

        .system-card-top {
          padding: 20px 0;
          border-bottom: 1px solid $gray80;
        }

        .system-card-bottom {
          padding-top: 20px;
        }

        .title {
          @include fontFamilyNHeading(MB_V);
        }

        .desc {
          @include fontFamilyNBody(MR_F);

          margin-top: 8px;
        }
      }
    }
  }

  // faq
  .section.faq {
    padding-top: 80px;

    @include md {
      padding-top: 60px;
    }

    @include sm {
      padding-top: 40px;
    }

    .faq-contain {
      padding-bottom: 80px;

      @include md {
        padding-bottom: 60px;
      }

      @include sm {
        padding-bottom: 60px;
      }
    }
  }

  // nft 탭
  &.nft {
    .section {
      margin-top: 80px;

      @include lg {
        width: 992px;
      }

      @include md {
        margin-top: 60px;
      }

      @include sm {
        margin-top: 40px;
      }

      & + .section {
        margin-top: 96px;

        @include md {
          margin-top: 80px;
        }

        @include sm {
          margin-top: 60px;
        }
      }

      &:last-child {
        padding-bottom: 100px;

        @include md {
          padding-bottom: 80px;
        }

        @include sm {
          padding-bottom: 68px;
        }
      }
    }

    .nft-starter-pack-wrap {
      .card-wrap {
        display: flex;
        margin-top: 32px;
        gap: 23px;

        @include md {
          max-width: 400px;
          flex-direction: column;
          margin: 32px auto 0;
          gap: 12px;
        }

        @include sm {
          flex-direction: column;
          margin: 23px auto 0;
          gap: 12px;
        }

        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          backdrop-filter: blur(30px);
          background: #f6f8fb;

          @include lg {
            width: calc((100% - 46px) / 3);
            padding: 26px 32px;
          }

          @include md {
            padding: 36px 32px;
          }

          @include sm {
            padding: 24px;
          }

          .chip-bg {
            border-color: $snkr2;
            background-color: $snkr2;
            color: $veryBlack !important;

            @include fontFamilyNBtnChips(SB_F);
          }

          .discount-wrap {
            margin-top: 8px;

            @include fontFamilyNBody(NB_F);

            @include md {
              margin-top: 12px;
            }

            .value {
              color: $gray30;
              text-decoration: line-through;
              text-decoration-color: $gray30;
            }

            .discount {
              margin-left: 4px;
              color: $negative;
            }

            + .text-cont {
              margin-top: 4px;
            }
          }

          .text-cont {
            margin-top: 12px;

            @include fontFamilyNData(M2B_V);

            @include lg {
              @include fontFamilyNData(M1B_V);
            }
          }
        }
      }
    }

    .mystery-contents-wrap {
      @include lg {
        max-width: 992px;
        margin: 0 auto;
      }

      // @include md {
      //   padding: 40px 0 calc(78px - 50px);
      // }

      .title-wrap {
        text-align: center;

        .title {
          @include fontFamilyPhrase(l);
        }

        .desc {
          margin-top: 8px;

          @include fontFamilyBody(lr);

          @include md {
            white-space: pre-line;
          }
        }
      }

      .contents-list-wrap {
        border-top: 1px solid $gray30;
        margin-top: 36px;

        @include md {
          margin-top: 48px;
        }

        @include sm {
          margin-top: 40px;
        }

        .list {
          position: relative;
          display: flex;
          width: 100%;
          min-height: 392px;
          padding: 36px 32px 36px 0;
          gap: 40px;

          & + .list {
            border-top: 1px solid $gray80;
          }

          @include md {
            min-height: auto;
            flex-wrap: wrap;
            align-items: flex-start;
            padding: 50px 0;
            gap: 24px;
          }

          @include sm {
            min-height: auto;
            flex-wrap: wrap;
            padding: 40px 0;
            gap: 20px;
          }

          // &.full {
          //   height: 418px;

          //   @include md {
          //     height: 316px;
          //   }

          //   @include sm {
          //     height: auto;
          //   }

          //   .content-inner {
          //     position: relative;
          //     z-index: 1;
          //     height: 100%;

          //     .inner {
          //       position: absolute;
          //       z-index: 10;
          //       top: 50%;
          //       transform: translate(0, -50%);

          //       @include sm {
          //         position: static;
          //         transform: none;
          //       }
          //     }
          //   }
          // }

          .list-img-wrap {
            position: relative;
            z-index: 1;
            overflow: hidden;
            width: 320px;

            // padding: 12px 0 0 17px;
            border-radius: 12px;
            aspect-ratio: 1/1;

            &.img-swiper {
              .swiper {
                width: 100%;
                aspect-ratio: 1/1;

                .img-wrap {
                  position: relative;
                  width: 100%;
                  height: 100%;
                }
              }
            }

            @include md {
              width: 216px;
            }

            @include sm {
              width: 100%;
              height: 100%;
            }
          }

          .content-inner {
            width: calc(100% - 320px - 40px);

            @include md {
              width: calc(100% - 216px - 24px);
            }

            @include sm {
              width: 100%;
            }

            .item-title {
              margin-top: 16px;

              @include fontFamilyNHeading(LB_V);

              @include sm {
                margin-top: 12px;
              }
            }

            // .detail-info {
            //   display: flex;
            //   align-items: center;
            //   margin-top: 12px;

            //   @include fontFamilyNBody(MR_F);

            //   span {
            //     color: $gray50;

            //     @include sm {
            //       white-space: pre-line;
            //     }
            //   }
            // }

            .item-desc {
              margin-top: 12px;
              color: $gray00;
              white-space: pre-line;

              strong {
                font-weight: 700;
              }

              @include fontFamilyNBody(MR_F);
            }

            .inner-list {
              margin-top: 16px;

              strong {
                color: $gray30;

                @include fontFamilyNBody(SR_F);
              }

              ul {
                padding-left: 8px;

                li {
                  position: relative;
                  padding-left: 12px;
                  color: $gray30;

                  @include fontFamilyNBody(SR_F);

                  &::before {
                    @include content;

                    position: absolute;
                    top: 9px;
                    left: 0;
                    width: 4px;
                    height: 4px;
                    border-radius: 100%;
                    background-color: $gray30;
                  }
                }
              }
            }
          }

          .item-slide-wrap {
            position: relative;
            z-index: 1;

            @include lg {
              position: absolute;
              bottom: 36px;
              left: calc(322px + 40px);
              width: 600px;
              height: 112px;
            }

            @include md {
              width: 100%;
              margin-top: 12px;
            }

            @include sm {
              overflow: hidden;
              width: calc(100% + 40px);
              margin-right: -20px;
              margin-left: -20px;

              .swiper {
                width: 100%;
                transition: margin 0.3s;
                will-change: margin;
              }

              &.first-slide {
                .swiper {
                  margin-left: 20px;
                }
              }
            }

            .swiper-wrapper {
              .swiper-slide {
                position: relative;
                width: 100%;
                height: auto;
                aspect-ratio: 1/1;
              }

              .img-wrap {
                position: relative;
                z-index: 1;
                overflow: hidden;
                width: 100%;
                border-radius: 12px;
                aspect-ratio: 1/1;
                object-fit: contain;
              }
            }
          }
        }
      }
    }

    // .section {
    //   padding: 36px 0;

    //   @include md {
    //     padding: 40px 0;
    //   }

    //   @include sm {
    //     padding: 40px 0;
    //   }

    //   &:first-child {
    //     padding: 80px 0 0;

    //     @include sm {
    //       padding: 80px 20px 0;
    //     }
    //   }
    // }

    .section-inner {
      display: flex;
    }

    .nft-whats-in-wrap {
      .nft-whats-in-banner {
        position: relative;
        display: flex;
        overflow: hidden;
        min-height: 300px;
        padding: 42px;
        border-radius: 12px;
        margin-top: 24px;
        background-color: #905bd0;

        .inner {
          position: relative;
          z-index: 1;
        }

        @include md {
          width: 100%;
        }

        @include sm {
          width: 100%;
          padding: 24px;
          margin-top: 24px;
        }
      }

      .img-wrap {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        width: 420px;
        height: 100%;

        @include sm {
          top: 50%;
          right: 50%;
          width: 100%;
          height: auto;
          aspect-ratio: 7/5;
          transform: translate(50%, -50%);

          &::after {
            @include content;

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(26 26 26 / 70%);
          }
        }

        @media (max-width: 470px) {
          top: 50%;
          right: 50%;
          width: auto;
          height: 100%;
          aspect-ratio: 7/5;
          transform: translate(50%, -50%);
        }
      }
    }

    .nft-whats-in-banner-content {
      display: flex;
      max-width: 400px;
      height: 100%;
      flex-wrap: wrap;
      align-content: space-between;

      @include md {
        max-width: 360px;
      }

      @include sm {
        max-width: 100%;
      }

      .nft-whats-in-banner-desc {
        @include fontFamilyNBody(XLB_F);

        width: 100%;
        color: $gray100;

        @include sm {
          & + button {
            margin-top: 40px;
          }
        }
      }
    }
  }

  // tokenomics 탭
  &.tokenomics {
    .section {
      // bg 없는 section
      &:first-of-type {
        margin-top: 80px;

        @include md {
          margin-top: 60px;
        }

        @include sm {
          margin-top: 40px;
        }
      }
    }

    .bg-section {
      padding-top: 80px;
      padding-bottom: 100px;

      @include md {
        padding-top: 40px;
        padding-bottom: 80px;
      }

      @include sm {
        padding-top: 40px;
        padding-bottom: 60px;
      }

      .bg-section-inner {
        .snkrz-title {
          white-space: pre-line;
        }
      }
    }

    .youtube-video {
      position: relative;
      overflow: hidden;
      width: 960px;
      height: 540px;
      border-radius: 12px;
      margin: 30px auto 100px;

      @include md {
        width: 100%;
        height: auto;
        margin: 32px auto 65px;
        aspect-ratio: 1/0.5611;
      }

      @include sm {
        width: 100%;
        height: auto;
        margin: 24px auto 60px;
        aspect-ratio: 1/0.561;
      }
    }

    .token-system-list {
      display: flex;
      max-width: 844px;
      flex-wrap: wrap;
      margin: 28px auto 0;
      gap: 44px;

      @include md {
        max-width: 460px;
        margin-top: 32px;
        gap: 48px;
      }

      @include sm {
        width: 100%;
        margin-top: 24px;
        gap: 44px;
      }

      li {
        position: relative;
        display: flex;
        width: calc((100% - 44px) / 2);
        height: 180px;
        flex-wrap: wrap;
        align-content: center;
        padding: 0 16px 0 20px;
        border-radius: 8px;
        background-color: $gray100;

        @include lg {
          order: 1;

          &:nth-child(3) {
            order: 2;
          }

          &:nth-child(5) {
            order: 3;
          }

          &:nth-child(6) {
            order: 4;
          }
        }

        @include md {
          width: 100%;
        }

        @include sm {
          width: 100%;
          height: auto;
          min-height: 116px;
          padding: 16px;
        }

        &::before {
          display: inline-flex;
          width: 24px;
          height: 24px;
          align-items: center;
          justify-content: center;
          border-radius: 24px;
          margin-bottom: 8px;
          background-color: $snkr2;
          content: attr(data-count);

          @include fontFamilyNBtnChips(MB_F);
        }

        .inner {
          display: flex;
          width: 100%;
          gap: 4px;

          .text-content {
            width: calc(100% - 104px);

            @include sm {
              width: calc(100% - 84px);
            }

            strong {
              @include fontFamilyNBody(LB_F);
            }

            .desc {
              @include fontFamilyNBody(SR_F);

              margin-top: 4px;
              color: $gray30;
            }
          }

          .img {
            position: absolute;
            right: 10px;
            bottom: 20px;
            width: 100px;
            aspect-ratio: 1/1;

            @include sm {
              right: 16px;
              bottom: 16px;
              width: 72px;
            }
          }
        }

        .line-arrow {
          position: absolute;
        }

        @include lg {
          &:nth-child(1),
          &:nth-child(5) {
            .line-arrow {
              top: 50%;
              right: 0;
              transform: translate(100%, -50%);
            }
          }

          &:nth-child(3) {
            .line-arrow {
              top: 50%;
              left: 0;
              transform: translate(-100%, -50%) rotate(180deg);
            }
          }

          &:nth-child(2),
          &:nth-child(4) {
            .line-arrow {
              bottom: -11px;
              left: 50%;
              transform: translate(-50%, 100%) rotate(90deg);
            }
          }
        }

        @include md {
          .line-arrow {
            bottom: -11px;
            left: 50%;
            transform: translate(-50%, 100%) rotate(90deg);
          }
        }

        @include sm {
          .line-arrow {
            bottom: -11px;
            left: 50%;
            transform: translate(-50%, 100%) rotate(90deg);
          }
        }
      }
    }
  }
}

// information
.life-snkrz-information-container {
  overflow: hidden;
  background-color: #523dff;
  background-image: url("#{$rootPath}/img/bg_life_snkrz_information.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  .snkrz-information-wrap {
    @include maxWidthLg;

    position: relative;
    display: flex;
    height: 293px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include md {
      height: 260px;
    }

    @include sm {
      height: 200px;
    }

    .snkrz-information-title {
      @include fontFamilyHeading(xl);

      color: $white;
    }

    .snkrz-information-link {
      display: flex;
      margin-top: 24px;

      @include sm {
        margin-top: 12px;
      }

      a + a {
        margin-left: 24px;

        @include sm {
          margin-left: 16px;
        }
      }

      svg {
        width: 52px;
        height: 52px;

        @include sm {
          width: 40px;
          height: 40px;
        }

        path {
          fill: $white;
        }
      }
    }
  }
}

.introduction {
  @include maxWidthLg;

  overflow: hidden;
  padding-top: 48px;
  padding-bottom: 80px;

  @include md {
    padding-top: 60px;
  }

  @include sm {
    padding: 40px 20px;
  }

  &-top {
    position: relative;
    display: flex;
    justify-content: space-between;

    @include sm {
      flex-direction: column;
    }

    .text-wrap {
      padding-top: 52px;

      @include md {
        padding-top: 0;
        margin-right: -106px;
      }

      @include sm {
        min-width: auto;
        padding-top: 0;
      }

      .title-wrap {
        width: 100%;
        max-width: 422px;

        @include md {
          max-width: unset;
        }

        @include sm {
          max-width: unset;
        }

        &-top {
          display: flex;
          align-items: center;

          @include sm {
            justify-content: space-between;
          }
        }

        .title {
          @include fontFamilyNDisplay(LB_V);

          margin-right: 20px;
        }

        .desc {
          @include fontFamilyNBody(MB_F);

          margin-top: 8px;

          @include sm {
            margin-top: 20px;
          }
        }
      }

      .point {
        display: flex;

        @include sm {
          flex-direction: column;
          align-items: flex-start;
        }

        .tag {
          @include fontFamilyNBtnChips(SB_F);

          margin-right: 16px;
          white-space: nowrap;

          @include sm {
            margin-bottom: 8px;
          }
        }

        dl {
          width: 100%;
          max-width: 360px;

          @include md {
            max-width: unset;
          }

          @include sm {
            max-width: unset;
          }
        }

        .title {
          @include fontFamilyNHeading(MB_V);
        }

        .desc {
          @include fontFamilyNBody(MR_F);

          margin-top: 12px;

          @include sm {
            margin-top: 8px;
          }
        }

        &-wrap {
          display: flex;
          flex-direction: column;
          margin-top: 52px;
          gap: 36px;

          @include md {
            gap: 24px;
          }

          @include sm {
            margin-top: 32px;
            gap: 28px;
          }
        }
      }
    }

    .img {
      position: relative;
      width: 580px;
      aspect-ratio: 290 / 273;

      @include md {
        width: 424px;
        flex-shrink: 0;
        align-self: flex-start;
        transform: translateX(130px);
      }

      @include sm {
        position: relative;
        right: auto;
        width: 100%;
        margin-top: 32px;
      }
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    border-radius: 12px;
    margin-top: 60px;
    background-color: #f3f6fb;

    @include sm {
      margin-top: 40px;
    }

    .img {
      position: relative;
      width: 100%;
      max-width: 660px;
      aspect-ratio: 330 / 167;

      @include sm {
        width: 100%;
      }
    }
  }
}

.nft-event-banner {
  position: relative;
  overflow: hidden;
  padding: 58px 60px;
  border-radius: 12px;
  margin-top: 24px;
  background: linear-gradient(90deg, #1f174d 0%, #8e4ad9 100%);

  @include sm {
    padding: 24px;
  }

  .inner {
    position: relative;
    z-index: 1;

    .title-wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .title {
        @include fontFamilyNHeading(XLB_V);

        display: block;
        width: 100%;
        color: $gray100;
      }
    }

    .desc {
      margin-top: 24px;
      color: $gray100;

      @include fontFamilyNBody(MR_F);

      strong {
        display: block;
        color: $gray100;
        font-weight: 700;
      }

      @include sm {
        margin-top: 12px;
      }
    }

    .list-type-dot {
      padding-left: 8px;
      margin-top: 12px;

      li {
        margin-top: 0;
      }
    }
  }
}
