.neith-station-wrap {
  background: #111; // TODO: 컬러 확인

  .neith-title-wrap {
    // TODO: 간격은 수정 될 듯.
    padding-top: 80px;
    text-align: center;

    @include md {
      padding-top: 60px;
    }

    @include sm {
      padding-top: 60px;
    }

    .field {
      @include fontFamilyBody(lr);

      color: $nile60;
    }

    .title {
      margin-top: 8px;

      @include fontFamilyPhrase(mb);

      color: $gray100;
    }

    .desc {
      margin-top: 8px;

      @include fontFamilyBody(mr);

      color: $gray60;
    }
  }

  // Hero
  .wrap-hero-banner {
    overflow: hidden;
    background: linear-gradient(180deg, #1a1a1a 0%, #000 100%);

    .hero-banner {
      width: 100%;
      max-width: 1200px;
      padding: 32px 0 40px;
      margin: 0 auto;

      @include md {
        padding: 40px;
      }

      @include sm {
        padding: 40px 20px;
      }

      .wrap-text-visual {
        display: flex;
        min-width: 1312px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        @include md {
          min-width: 840px;
        }

        @include sm {
          position: relative;
          display: block;
          min-width: 100%;
        }

        .info-text {
          width: 385px;
          padding-top: 28px;

          @include md {
            width: 300px;
          }

          @include sm {
            width: 100%;
            padding-top: 0;
            text-align: center;
          }

          h2 {
            color: $gray100;

            @include fontFamilyDp(l);
          }

          strong {
            display: block;
            margin-top: 24px;
            color: $gray100;

            @include fontFamilyBody(xlb);

            @include sm {
              margin-top: 16px;
            }
          }

          p {
            margin-top: 12px;
            color: $gray80;
            white-space: pre-line;

            @include fontFamilyBody(mr);

            @include sm {
              margin-top: 16px;
            }
          }

          .btn {
            margin-top: 28px;

            @include sm {
              position: absolute;
              bottom: -28px;
              left: 0;
              width: 100%;
              transform: translateY(100%);
            }
          }
        }

        .wrap-visual {
          position: relative;
          width: calc(100% - 385px - 149px);
          margin-left: 149px;
          text-align: center;

          @include md {
            width: calc(100% - 300px);
            margin-left: 42px;
          }

          @include sm {
            display: flex;
            overflow: hidden;
            width: calc(100% + 40px);
            height: 300px;
            justify-content: center;
            margin-top: 28px;
            margin-bottom: calc(44px + 26px);
            margin-left: -20px;
          }

          .bg {
            position: absolute;
            top: 50%;
            left: 50%;
            display: none;
            width: 778px;
            height: 341px;
            transform: translate(-50%, -50%);

            @include lg {
              display: block;
            }
          }

          .image {
            width: 488px;
            height: 380px;
            margin: auto;

            @include sm {
              position: absolute;
              left: 50%;
              width: 386px;
              height: 300px;
              transform: translateX(-50%);
            }
          }
        }
      }

      .hero-info-list {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        padding-top: 40px;

        @include md {
          flex-wrap: wrap;
          padding-top: 28px;
        }

        @include sm {
          flex-wrap: wrap;
          padding-top: 14px;
        }

        & > li {
          width: calc(25% - 8px);
          padding: 24px 32px;
          border-radius: 4px;
          background-color: $gray00;
          color: $gray80;

          @include fontFamilyBody(cs);

          line-height: 1.3;

          @include md {
            width: calc(50% - 6px);
            padding: 16px;
            margin-top: 12px;
          }

          @include sm {
            width: calc(100%);
            padding: 12px;
            margin-top: 12px;
          }

          .name {
            display: block;
            color: $gray80;

            @include fontFamilyBody(sr);

            button {
              margin-left: 4px;
              transform: translateY(2px);

              svg {
                path {
                  fill: $gray60;
                }
              }
            }

            .tooltip-contents {
              .list-type-dot {
                li {
                  color: $gray100;
                  white-space: pre-line;

                  @include fontFamilyBody(sr);

                  &::before {
                    top: 8px;
                    background-color: $gray100;
                  }
                }
              }
            }
          }

          strong {
            display: block;
            margin-top: 4px;
            color: $gray100;

            @include fontFamilyDp(mb);
          }

          .price-wemix-wrap {
            display: flex;
            width: 100%;
            align-items: center;

            span {
              @include fontFamilyData(m3);

              display: inline-block;
              padding-left: 4px;
              margin-top: 4px;
              color: $gray100;
            }
          }

          .dollar-price {
            @include fontFamilyData(sr);

            margin-top: 4px;
            color: $gray100;
          }
        }
      }
    }
  }

  // Collections
  .collections-wrap {
    background-color: $veryBlack;
    width: 100%;
    overflow: hidden;

    &-inner {
      @include maxWidthLg;

      @include lg {
        padding: 60px 0 50px;
      }

      @include md {
        padding: 40px 0 52px;
      }

      @include sm {
        padding: 24px 0 60px;
      }
    }

    .collections {
      overflow: visible;
      @include md {
        padding: 0 40px;
      }

      @include sm {
        padding: 0 20px;
      }
    }

    .collection {
      width: 384px;
      @include sm {
        overflow: hidden;
        width: 280px;
        flex: 0 0 280px;
      }

      &.cora {
        background-color: #281212;
      }

      &.tangled {
        background-color: #191020;
      }

      &.cone {
        background-color: #162727;
      }

      &.bagc {
        background-color: #15311e;
         
        .icon-logo-wrap {
          border: 1px solid #fff;
              border-radius: 100%;
        }
      }

      .type-wrap {
        display: flex;
        align-items: center;
        padding: 20px 20px 16px;
        gap: 8px;
      }

      .name-wrap {
        .tag-dark-gray {
          color: $gray00;
        }

        h2 {
          margin-top: 8px;
          color: $gray100;

          @include fontFamilyDp(sb);
        }
      }

      .image-wrap {
        position: relative;
        width: 100%;
        height: 240px;
        aspect-ratio: 384/240;

        @include sm {
          left: -20px;
          width: calc(100% + 40px);
          height: 180px;
        }

        .countdown-wrap {
          position: relative;
          z-index: 1;
          width: 100%;
          padding: 12px 17px;
          background: rgb(26 26 26 / 70%);

          @include sm {
            padding: 8px 11px;
          }

          .auction-title {
            display: block;
            margin-bottom: 8px;
            color: $gray100;
            text-align: center;

            @include fontFamilyHeading(xs);
          }
        }
      }

      .info-wrap {
        width: 100%;
        padding: 16px 20px;

        @include sm {
          padding: 16px 12px;
        }

        li {
          padding: 6px 0;

          &:first-child {
            padding-top: 0;
          }

          @include sm {
            padding: 6px 0;
          }

          &:not(:first-child) {
            border-top: 1px solid rgba($white, 0.2);
          }

          span {
            color: $gray80;

            @include fontFamilyData(cl);
          }

          strong {
            color: $gray100;

            @include fontFamilyData(clb);

            span {
              display: block;
              margin-top: 4px;
              color: $gray60;
              font-weight: 400;
              text-align: right;

              @include fontFamilyData(cxs);
            }
          }

          .info-detail-wrap {
            display: flex;
            width: 100%;
            height: 36px;
            align-items: center;
            justify-content: space-between;
          }
        }
      }

      .button-wrap {
        display: flex;
        flex-direction: column;
        padding: 0 20px 20px;
        gap: 8px;

        @include sm {
          padding: 0 12px 20px;
        }

        .ant-btn {
          width: 100%;
        }
      }
    }
  }

  // How to
  .how-to-wrap {
    background-color: #111;

    .journey {
      position: relative;
      width: 970px;
      padding-top: 62px;
      padding-bottom: 28px;
      margin: auto;

      @include md {
        width: 100%;
        padding-top: 76px;
        padding-bottom: 57px;
        margin-top: -26px;
        margin-bottom: -9px;
      }

      @include sm {
        width: 100%;
        padding-top: 36px;
        padding-bottom: 52px;
      }

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        /* stylelint-disable-next-line max-line-length */
        background: linear-gradient(180deg, rgb(217 217 217 / 0%) 0%, #d9d9d9 23.44%, #d9d9d9 70.83%, rgb(217 217 217 / 0%) 100%);
        content: "";
        opacity: 0.3;

        @include md {
          left: 113px;
        }

        @include sm {
          left: 25px;
        }
      }

      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 82px;
        margin-left: -41px;
        background: url("#{$publicImgPath}/bg_neith_howto_milkyway.png") no-repeat center;
        background-size: 82px auto;
        content: "";

        @include sm {
          left: 25px;
        }
      }

      ol {
        > li {
          position: relative;
          max-width: 485px;

          @include md {
            max-width: calc(100% - 113px);
            padding-right: 110px;
          }

          @include sm {
            max-width: calc(100% - 25px);
            padding-right: 20px;
          }

          .subject {
            @include fontFamilyBody("cardxl");

            color: $gray100;
          }

          .steps {
            margin-top: 16px;

            > li {
              padding-left: 28px;
              color: $gray60;
              counter-increment: li;

              @include fontFamilyBody("mr");

              &::before {
                margin-left: -28px;
                content: "0" counter(li);
                float: left;
              }

              & + li {
                margin-top: 4px;
              }
            }
          }

          .desc {
            margin-top: 16px;
            color: $gray60;
            white-space: pre-line;

            @include fontFamilyBody("mr");

            @include sm {
              margin-top: 8px;
            }
          }

          &::before {
            position: absolute;
            top: -19px;
            display: block;
            width: 65px;
            height: 65px;
            background: url("#{$publicImgPath}/img_neith_howto_star.svg") no-repeat center;
            background-size: 65px 65px;
            content: "";
          }

          &:nth-child(odd) {
            padding-left: 45px;
            margin-left: 50%;

            @include md {
              margin-left: 113px;
            }

            @include sm {
              padding-left: 25px;
              margin-left: 25px;
            }

            &::before {
              left: -32px;
            }
          }

          &:nth-child(even) {
            padding-right: 45px;
            margin-top: -5px;
            margin-bottom: 68px;

            @include md {
              padding-left: 45px;
              margin-top: 44px;
              margin-bottom: 0;
              margin-left: 113px;
            }

            @include sm {
              padding-left: 25px;
              margin-top: 24px;
              margin-bottom: 0;
              margin-left: 25px;
            }

            &::before {
              right: -33px;

              @include md {
                left: -32px;
              }

              @include sm {
                left: -32px;
              }
            }
          }

          & + li {
            @include md {
              margin-top: 44px;
            }

            @include sm {
              margin-top: 24px;
            }
          }
        }
      }
    }

    .covenant-date {
      padding-bottom: 214px;
      background: url("#{$publicImgPath}/bg_neith_howto_pyramid.png") no-repeat 50% 100%;
      background-size: 940px auto;

      @include md {
        // width: 642px;
        // padding-bottom: 182px;
        // margin: auto;]
        padding: 0 63px 216px;
      }

      @include sm {
        padding: 0 23px 150px;
        background-size: 640px auto;
      }

      .stemp {
        text-align: center;
      }

      .subject {
        display: block;
        margin-top: -12px;
        color: $gray100;
        text-align: center;

        @include fontFamilyBody("cardxl");

        @include md {
          margin-top: -8px;
        }

        @include sm {
          margin-top: -12px;
        }
      }

      .desc {
        width: 600px;
        margin: 16px auto 0;
        color: $gray85;
        text-align: center;
        white-space: pre-line;

        @include fontFamilyBody("mr");

        @include md {
          width: auto;
          margin-top: 12px;
        }

        @include sm {
          width: auto;
          margin-top: 8px;
        }
      }

      .sub-desc {
        margin-top: 4px;
        color: $gray60;
        text-align: center;

        @include fontFamilyBody("mr");

        @include md {
          margin-top: 12px;
        }

        @include sm {
          margin-top: 8px;
        }
      }
    }
  }

  // about
  .about-wrap {
    padding-bottom: 80px;
    background-color: $veryBlack;

    @include sm {
      padding-bottom: 60px;
    }

    .video-wrap {
      width: 960px;
      height: 540px;
      margin: 40px auto 0;
      background: url("#{$rootPath}/img/img_life_con_video_ko.png") no-repeat center center / cover;
      background-color: #666;

      @at-root [lang="en"] & {
        background-image: url("#{$rootPath}/img/img_life_con_video_en.png");
      }

      @include md {
        width: 89.583vw;
        height: 50.26vw;
        margin: 24px auto 0;
      }

      @include sm {
        width: 89.583vw;
        height: 50.26vw;
        margin: 20px auto 0;
      }
    }
  }

  // What to do
  .what-to-do {
    padding: 0 0 80px;
    background: $gray00;

    @include md {
      padding: 0 0 60px;
    }

    @include sm {
      padding: 0 20px 82px;
    }

    .contents {
      display: flex;
      max-width: 1280px;
      justify-content: center;
      margin: 40px auto 0;

      @include md {
        flex-direction: column;
      }

      @include sm {
        flex-direction: column;
        margin: 42px auto 0;
      }

      .part {
        max-width: 390px;
        margin: 0 70px;

        @include md {
          max-width: 368px;
          margin: 0 auto;

          &:first-child {
            margin-bottom: 48px;
          }
        }

        @include sm {
          max-width: 100%;
          margin: 0 auto;

          &:first-child {
            margin-bottom: 54px;
          }
        }

        .img-area {
          display: flex;
          height: 160px;
          align-items: center;
          justify-content: center;
          margin-bottom: 16px;

          @include md {
            margin-bottom: 12px;
          }

          @include sm {
            margin-bottom: 8px;
          }

          & > div {
            display: inline-block;
          }
        }

        strong {
          display: block;
          margin-bottom: 16px;
          color: $gray100;
          text-align: center;

          @include fontFamilyBody(cardxl);

          @include md {
            margin-bottom: 12px;
          }

          @include sm {
            margin-bottom: 8px;
          }
        }

        p {
          color: $gray60;
          text-align: center;

          @include fontFamilyBody(mr);

          white-space: pre-line;
        }
      }
    }
  }

  // Three Values of NFT
  .three-value-nft {
    @include md {
      padding: 0 40px 60px;
    }

    @include sm {
      padding: 0 20px 60px;
    }

    .value-card-box {
      display: flex;
      justify-content: center;

      .value-card-wrap {
        display: flex;
        width: 1240px;
        justify-content: center;
        padding: 60px 0;

        @include md {
          width: 100%;
          flex-direction: column;
          padding: 40px 0 0;
        }

        @include sm {
          width: 100%;
          flex-direction: column;
          padding: 24px 0 0;
        }

        li {
          width: calc(100% / 3);
          padding: 20px;
          border-radius: 4px;
          background-color: $gray00;

          @include md {
            width: 100%;
          }

          @include sm {
            width: 100%;
          }

          .value-list-title {
            color: $gray100;

            @include fontFamilyHeading(mb);
          }

          .value-list-desc {
            @include fontFamilyBody(mr);

            display: block;
            margin-top: 12px;
            color: $gray60;
          }
        }

        li + li {
          margin-left: 20px;

          @include md {
            margin-top: 12px;
            margin-left: 0;
          }

          @include sm {
            margin-top: 12px;
            margin-left: 0;
          }
        }
      }
    }
  }

  // Great Challenge
  .great-challenge {
    padding-bottom: 75px;
    margin-top: 52px;

    @include md {
      padding-bottom: 60px;
      margin-top: 40px;
    }

    @include sm {
      padding-bottom: 60px;
      margin-top: 24px;
    }

    > ul {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      @include md {
        flex-direction: column;
      }

      @include sm {
        flex-direction: column;
      }

      > li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 60px;
        text-align: center;

        @include md {
          width: 100%;
          margin-top: 40px;
          margin-right: 0;

          &:first-child {
            margin-top: 0;
          }
        }

        @include sm {
          width: 100%;
          margin-top: 32px;
          margin-right: 0;

          &:first-child {
            margin-top: 0;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        .img {
          position: relative;
          width: 340px;
          height: 264px;

          @include md {
            width: 100%;
            height: 280px;
          }

          @include sm {
            width: 100%;
            height: 240px;
          }
        }

        .title-description-wrap {
          width: 360px;
          margin: 0 auto;

          @include md {
            width: 400px;
          }

          @include sm {
            max-width: 100%;
            margin: 0 auto;
          }

          .title {
            margin-top: 22px;

            @include md {
              margin-top: 8px;
            }

            @include sm {
              margin-top: 4px;
            }

            strong {
              @include fontFamilyBody(xxlb);

              color: $white;
            }
          }

          .description {
            margin-top: 12px;
            color: $gray60;
            white-space: pre-line;

            @include fontFamilyBody(mr);

            @include sm {
              padding: 0 20px;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }

  // FAQ
}

// neith station vault
@mixin neithVaultBorder {
  position: relative;
  z-index: 1;
  border: 1px solid transparent;
  border-radius: 4px;
  background-clip: padding-box;
  background-color: $gray00;

  &::before {
    position: absolute;
    z-index: -1;
    padding: 1px;
    border-radius: 4px;
    background: linear-gradient(to bottom right, rgba($gray100, 0.1), rgba(#e3dcc3, 0.1));
    background-origin: border-box;
    background-position: 0 0;
    background-size: 200% 100%;
    content: "";
    inset: 0;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0) padding-box;
    mask-composite: xor;
    pointer-events: none;
  }
}

.neith-station-vault-wrap {
  padding: 60px 0 80px;
  background-color: $veryBlack;

  @include md {
    padding: 60px 0 100px;
  }

  @include sm {
    padding: 40px 0 60px;
  }

  .neith-vault-top-wrap {
    .vault-title-wrap {
      .title-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        .title-icon {
          position: relative;
          width: 52px;
          height: 52px;

          @include sm {
            width: 32px;
            height: 32px;
          }
        }

        .title {
          @include fontFamilyDp(hl);

          color: $gray100;
        }
      }

      .desc {
        margin-top: 16px;
        color: $gray100;
        text-align: center;
        white-space: pre-line;

        @include fontFamilyBody(mr);

        @include sm {
          padding: 0 20px;
          white-space: initial;
        }
      }
    }

    .vault-top-info-wrap {
      @include maxWidthLg;

      @include md {
        max-width: 768px;
      }

      display: flex;
      margin-top: 24px;
      gap: 20px;

      @include md {
        flex-wrap: wrap;
        gap: 12px;
      }

      @include sm {
        flex-direction: column;
        gap: 12px;
      }

      .vault-info-list {
        width: 100%;
        padding: 24px 32px 28px;
        border-radius: 4px;
        background-color: $gray00;

        @include neithVaultBorder;

        &:first-child {
          li {
            padding-left: 9px;
          }
        }

        .dollar {
          @include fontFamilyData(sr);

          padding-left: 4px;
        }

        @include md {
          // width: calc(50% - 6px);
          padding: 24px 28px;

          .vault-info-content {
            margin-top: 8px;

            .price,
            .unit {
              padding-top: 0;
            }
          }

          &:last-of-type {
            width: 100%;

            .vault-info-content {
              margin-top: 12px;
            }
          }
        }

        @include sm {
          padding: 24px;

          .vault-info-content {
            margin-top: 8px;

            .price,
            .unit {
              padding-top: 0;
            }
          }

          &:last-of-type {
            width: 100%;
            padding-bottom: 20px;
          }
        }

        .title-wrap {
          display: flex;
          align-items: center;
          gap: 4px;

          .title {
            color: #5f71ad;

            @include fontFamilyBody(cl);
          }

          button {
            svg {
              path {
                fill: #5f71ad;
              }
            }
          }

          .tooltip-contents {
            .list-type-dot {
              li {
                color: $gray100;
                white-space: pre-line;

                @include fontFamilyBody(sr);

                &::before {
                  top: 8px;
                  background-color: $gray100;
                }
              }
            }
          }
        }

        .vault-info-content {
          margin-top: 12px;

          @include sm {
            margin-top: 8px;
          }

          span {
            color: $gray100;
          }

          .price {
            display: inline-block;
            padding-top: 4px;

            @include fontFamilyData(m2);

            span {
              margin-right: 4px;
            }
          }

          .unit {
            display: inline-block;
            padding-top: 4px;
            margin-left: 4px;

            @include fontFamilyData(m3);
          }

          .guide-text {
            @include fontFamilyBody(mr);

            display: block;
            padding-top: 4px;
            color: $gray60;

            @include md {
              padding-top: 0;
            }

            @include sm {
              padding-top: 0;
            }
          }

          .btn-vault-address {
            height: 32px;
            padding: 4px 16px 4px 12px;
            border-radius: 32px;
            background-color: $gray10;

            .btn-inner {
              display: inline-flex;
              align-items: center;

              .btn-text {
                display: flex;
                align-items: center;
                padding: 0 8px 0 4px;
                gap: 4px;

                @include fontFamilyBody(mb);

                & + div {
                  svg {
                    path {
                      fill: $gray100;
                    }
                  }
                }
              }

              & > div:first-of-type {
                svg {
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }
        }
      }
    }
  }

  .neith-vault-altar-wrap {
    .neith-vault-altar-inner {
      @include maxWidthLg;

      @include md {
        max-width: 768px;
      }

      .neith-vault-alta-container {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding: 32px 24px 24px;
        margin: 32px auto 0;
        gap: 32px;

        @include neithVaultBorder;

        @include md {
          padding: 24px 32px;
        }

        @include sm {
          padding: 24px 20px;
        }
      }

      .altar-img-wrap {
        position: absolute;
        top: 32px;
        left: 24px;
        width: 306px;
        height: 434px;
        border-radius: 4px;
        background-color: $veryBlack;
        background-image: url("#{$rootPath}/img/img_altar_bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 434px;

        // &::after {
        //   @include content;

        //   position: absolute;
        //   z-index: 0;
        //   top: 0;
        //   left: 0;
        //   width: 100%;
        //   height: 70%;
        //   background: linear-gradient(0deg, rgb(0 0 0 / 0%) 0%, #000 50%);
        // }

        @include md {
          position: static;
          width: 100%;
          height: auto;
          margin-top: 24px;
          aspect-ratio: 16 / 6.1735;
          background-position: center bottom;
          background-size: auto 232px;
        }

        @include sm {
          position: static;
          width: 100%;
          height: 200px;
          margin-top: 24px;
          background-position: center bottom;
          background-size: auto 200px;
        }

        .altar-img {
          position: relative;
          z-index: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          @include lg {
            padding-top: 40px;
          }

          @include md {
            padding-top: 23px;
          }

          @include sm {
            padding-top: 19px;
          }

          .altar {
            position: relative;
            width: 146px;
            height: 256px;

            @include md {
              width: 81px;
              height: 142px;
            }

            @include sm {
              width: 68px;
              height: 118px;
            }
          }

          .altar-table {
            position: relative;
            width: 276px;
            height: 150px;

            @include md {
              width: 125px;
              height: 66px;
            }

            @include sm {
              width: 125px;
              height: 66px;
            }
          }
        }
      }

      .vault-altar-content {
        display: flex;
        width: calc(100% - 306px - 32px);
        height: 434px;
        flex-direction: column;
        justify-content: space-between;

        @include md {
          width: 100%;
          height: auto;
        }

        @include sm {
          width: 100%;
          height: auto;
        }

        .altar-title {
          padding-right: 70px;

          @include md {
            padding-right: 0;
          }

          @include sm {
            padding-right: 0;
          }

          .title {
            display: flex;
            gap: 4px;

            & > span {
              @include fontFamilyDp(title);

              color: $gray100;
            }
          }

          .desc {
            margin-top: 12px;
            color: $gray100;

            @include fontFamilyBody(mr);
          }
        }

        .vault-altar-box-wrap {
          position: relative;
          overflow: hidden;
          height: 100%;
          border-radius: 4px;
          margin-top: 24px;
          background-color: #111;

          @include md {
            height: 198px;
            margin-top: 20px;
          }

          @include sm {
            height: 174px;
            margin-top: 16px;
          }

          .box-inner-wrap {
            position: relative;
            z-index: 1;

            @include md {
              padding: 0 19px;
            }

            @include sm {
              padding: 0 16px;
            }

            &::after {
              @include content;

              position: absolute;
              top: 0;
              right: 0;
              width: 80px;
              height: 100%;
              background: linear-gradient(270deg, #111 0%, rgb(17 17 17 / 0%) 86.25%);
            }
          }

          ol {
            position: relative;
            display: inline-flex;
            width: 100%;
            justify-content: center;
            padding-top: 16px;
            counter-reset: step;
            gap: 20px;
            white-space: nowrap;

            @include md {
              justify-content: flex-start;
              padding: 16px 0 12px;
              gap: 8px;
              overflow-x: auto;
            }

            @include sm {
              justify-content: flex-start;
              padding: 16px 0 12px;
              gap: 8px;
              overflow-x: auto;
            }

            li {
              display: inline-flex;
              align-items: center;
              color: $gray60;
              gap: 6px;

              @include fontFamilyBody(sr);

              &::before {
                @include fontFamilyData(cs);

                display: inline-flex;
                width: 20px;
                height: 20px;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                background-color: $gray10;
                color: $gray60;
                content: counter(step);
                counter-increment: step;
                font-weight: 600;
              }
            }
          }

          .empty-text {
            position: absolute;
            top: 50%;
            left: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            transform: translate(-50%, -50%);

            @include md {
              padding-top: 20px;
            }

            @include sm {
              width: 100%;
              padding-top: 20px;
            }

            strong,
            span {
              color: $gray100;
            }

            strong {
              @include fontFamilyDp(sb);
            }

            span {
              @include fontFamilyBody(mr);
            }
          }
        }

        .vault-altar-btn-wrap {
          margin-top: 12px;
          text-align: right;

          @include md {
            margin-top: 16px;
          }

          @include sm {
            margin-top: 16px;
          }

          button:disabled {
            border-color: transparent;
            background-color: $gray20;
            color: $gray40;

            @include sm {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .section-title {
    @include fontFamilyDp(title);

    display: block;
    margin-bottom: 20px;
    color: $gray100;
  }

  // upcoming
  .upcoming-wrap {
    @include maxWidthLg;

    margin-top: 80px;

    @include md {
      max-width: 768px;
    }

    @include sm {
      margin-top: 60px;
    }
  }

  .upcoming-card {
    @include neithVaultBorder;

    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px 20px 24px;

    @include lg {
      height: 204px;
      padding: 16px 38px 16px 16px;
      gap: 32px;
    }

    @include md {
      flex-direction: column;
      gap: 24px;
    }

    @include sm {
      flex-direction: column;
      gap: 20px;
    }

    + .upcoming-card {
      margin-top: 24px;

      @include sm {
        margin-top: 16px;
      }
    }
  }

  .image-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 172px;
    border-radius: 4px;
    background-color: $veryBlack;

    &::after {
      @include content;

      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      border: 1px solid rgba($white, 0.2);
      border-radius: 4px;
    }

    @include lg {
      width: 420px;
    }
  }

  .text-wrap {
    width: 100%;

    @include lg {
      width: calc(100% - 420px - 32px);
    }
  }

  .name-wrap {
    display: flex;
    align-items: center;

    svg {
      @include sm {
        width: 28px !important;
        height: 28px !important;
      }
    }

    .name {
      display: flex;
      margin-left: 12px;
      color: $gray100;

      @include fontFamilyHeading(l);

      @include sm {
        margin-left: 8px;
      }
    }
  }

  .info-wrap {
    display: flex;
    margin-top: 24px;

    @include lg {
      justify-content: space-between;
      margin-top: 39px;
    }

    @include md {
      flex-direction: column;
    }

    @include sm {
      flex-direction: column;
    }
  }

  .label {
    display: block;
    color: $gray60;

    @include fontFamilyData(cs);
  }

  .info-detail {
    display: flex;
    align-items: stretch;
    gap: 40px;

    @include sm {
      gap: 28px;
    }

    li {
      &:not(:first-of-type) {
        position: relative;

        &::before {
          @include content;

          position: absolute;
          top: 0;
          left: -20px;
          width: 1px;
          height: 100%;
          border-left: 1px solid $gray30;

          @include sm {
            left: -14px;
          }
        }
      }

      &:last-child {
        @include sm {
          display: none;
        }
      }

      @include md {
        width: calc((100% - 80px) / 3);
      }
    }

    .text {
      display: block;
      margin-top: 16px;
      color: $gray100;

      @include fontFamilyNData(S2B_V);

      @include sm {
        margin-top: 12px;
      }

      span {
        display: block;
        margin-top: 6px;
        color: inherit;
        font-weight: 400;

        @include fontFamilyData(cs);
      }
    }
  }

  .d-day-wrap {
    display: flex;
    margin-top: 32px;
    gap: 20px;

    @include lg {
      margin-top: 0;
    }

    .label {
      @include fontFamilyData(cs);
    }

    .countdown {
      display: flex;
      margin-top: 10px;
      gap: 4px;

      .number {
        position: relative;
        width: 38px;
        height: 48px;
        border-radius: 2px;
        background-color: $gray20;
        font-family: $fontEN;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        text-align: center;

        > div {
          position: absolute;
          overflow: hidden;
          width: 100%;
          height: 50%;

          span {
            display: block;
          }

          &.up {
            z-index: 1;
            background-color: $gray10;

            span {
              color: $gray70;
              transform: translateY(calc(50% - 3px));
            }
          }

          &.down {
            z-index: 2;
            bottom: 0;

            span {
              color: $gray100;
              transform: translateY(calc(-50% - 1px));
            }
          }
        }
      }
    }
  }
}

.faq-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 120px;
  margin-top: 28px;

  @include md {
    padding: 0 40px 54px;
    margin-top: 24px;
  }

  @include sm {
    padding: 0 20px 60px;
    margin-top: 20px;
  }

  .faq-wrap {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-top: 1px solid $gray10;
    border-bottom: 1px solid $gray10;

    li + li {
      border-top: 1px solid $gray10;
    }
  }

  .faq-box {
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 20px 0;
    color: $gray100;

    @include md {
      padding: 20px 20px 20px 0;
    }

    &::before {
      color: $gray100;
      content: "Q";

      @include fontFamilyNBody(LR_F);
    }
    
    .faq-btn {
      display: flex;
      align-items: center;
      margin-top: 12px;

      li {
        & + li {
          border: none;

          &::before {
            display: inline-flex;
            width: 1px;
            height: 12px;
            margin: 0 8px;
            background: $gray50;
            content: "";
            vertical-align: bottom;
          }
        }

        .ant-btn {
          color: $gray50;

          & + .ant-btn {
            margin-left: 8px;
          }

          span {
            color: $gray50;
          }

          svg {
            width: 12px;
            height: 12px;

            path {
              stroke: $gray50;
            }
          }
        }
      }
    }  

    .faq-detail {
      margin-left: 16px;

      .faq-question {
        color: $gray100;

        @include fontFamilyNBody(LR_F);
      }

      .faq-answer {
        margin-top: 4px;
        color: $gray60;

        @include fontFamilyNBody(MR_F);
      }

      .faq-desc {
        margin-top: 4px;
        color: $gray60;

        @include fontFamilyBody(sr);
      }

   
    }

    .ant-collapse {
      &.ant-collapse-icon-position-end {
        width: 100%;

        .ant-collapse-item {
          .ant-collapse-expand-icon {
            .anticon {
              &.ant-collapse-arrow {
                top: 0;
                right: 8px;
                transform: rotate(180deg);
              }
            }

            svg {
              width: 16px;
              height: 16px;

              @include sm {
                width: 14px;
                height: 14px;
              }
            }
          }

          &.ant-collapse-item-active {
            .ant-collapse-expand-icon {
              .anticon {
                &.ant-collapse-arrow {
                  transform: rotate(180deg);
                }
              }

              svg {
                width: 16px;
                height: 16px;
                transform: rotate(180deg);
              }
            }
          }

          .ant-collapse-header {
            padding: 0 25px 0 16px;

            @include sm {
              padding: 0 32px 0 16px;
            }
          }

          .ant-collapse-header-text {
            color: $gray100;

            @include fontFamilyNBody(LR_F);
          }

          &:last-child {
            border: none;
          }
        }

        .ant-collapse-content {
          .faq-answer {
            display: block;
            margin-top: 4px;
            color: $gray60;

            @include fontFamilyNBody(MR_F);
          }

          .faq-desc {
            display: block;
            margin-top: 4px;
            color: $gray60;

            @include fontFamilyBody(sr);
          }

          .ant-collapse-content-box {
            padding: 0 25px 0 16px;
          }

          &.ant-collapse-content-active {
            background-color: transparent;
          }

          &.ant-collapse-content-inactive {
            background-color: transparent;
          }
        }
      }
    }
  }

  &.light {
    .faq-wrap {
      border-color: $gray00;
      border-bottom: 0;

      li + li {
        border-color: $gray80;
      }
    }

    .faq-box {
      color: $gray00;

      &::before {
        color: $gray00;
      }

      .faq-detail {
        .faq-question {
          color: $gray00;
        }

        .faq-answer {
          color: $gray30;
        }

        .faq-desc {
          color: $gray30;
        }

        // .faq-btn {
        //   li {
        //     & + li {
        //       &::before {
        //         background: $gray50;
        //       }
        //     }

        //     .ant-btn {
        //       color: $gray50;

        //       span {
        //         color: $gray50;
        //       }

        //       svg {
        //         path {
        //           stroke: $gray50;
        //         }
        //       }
        //     }
        //   }
        // }
      }

      .ant-collapse {
        &.ant-collapse-icon-position-end {
          .ant-collapse-item {
            .ant-collapse-expand-icon {
              svg {
                path {
                  stroke: $gray00;
                }
              }
            }

            .ant-collapse-header-text {
              color: $gray00;
            }
          }

          .ant-collapse-content {
            .faq-answer {
              color: $gray30;
            }
          }
        }
      }
    }
  }
}
