@use "sass:map";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: transparent;

  & > * {
    pointer-events: none;
  }
}

.btn-full {
  width: 100%;
  min-width: none;
  max-width: auto;
}

// Btn Size
@mixin btnRes($padding: 20px, $minWidth: 160px, $height: 44px, $gap: 8px) {
  min-width: $minWidth;
  height: $height;
  padding: 0 $padding;

  .btn-inner {
    svg + span {
      margin-left: $gap;
    }

    div + span {
      margin-left: $gap;
    }

    span + svg {
      margin-left: $gap;
    }

    span + div {
      svg {
        margin-left: $gap;
      }
    }
  }
}

.btn-xl {
  @include btnRes;
  @include fontFamilyButton(lr);

  @include lg {
    @include btnRes($height: 52px);
  }

  @include md {
    @include btnRes($height: 52px);
  }

  @include sm {
    @include btnRes($height: 44px);
  }
}

.btn-lg {
  @include btnRes;
  @include fontFamilyNBtnChips(LR_F);

  @include sm {
    @include btnRes($height: 44px);
  }
}

.btn-lg-f {
  @include btnRes;
  @include fontFamilyButton(mr);

  @include lg {
    @include btnRes($height: 52px);
  }

  @include md {
    @include btnRes($height: 52px);
  }

  @include sm {
    @include btnRes($height: 44px);

    min-width: 120px;
  }
}

.btn-md {
  @include btnRes($minWidth: 120px, $height: 38px);
  @include fontFamilyButton(mr);

  border-radius: 2px;

  @at-root .dao-wrap & {
    @include btnRes($minWidth: 160px, $height: 38px);
  }

  @include md {
    @include btnRes($minWidth: 120px, $height: 40px);
  }

  @include sm {
    @include btnRes($minWidth: 120px, $height: 36px);
  }

  @include daoMd {
    min-width: 160px;
  }

  @include daoSm {
    min-width: 85px;
  }
}

.btn-sm {
  @include fontFamilyButton(sr);
  @include btnRes($padding: 16px, $minWidth: auto, $height: 28px, $gap: 4px);

  border-radius: 2px;

  @include md {
    @include btnRes($padding: 16px, $minWidth: auto, $height: 32px, $gap: 4px);
  }

  @include sm {
    @include btnRes($padding: 16px, $minWidth: auto, $height: 28px, $gap: 4px);
  }
}

.btn-xs {
  @include fontFamilyButton(sr);
  @include btnRes($padding: 16px, $minWidth: auto, $height: 22px, $gap: 4px);

  border-radius: 2px;

  @include md {
    @include btnRes($padding: 12px, $minWidth: auto, $height: 24px, $gap: 4px);
  }

  @include sm {
    @include btnRes($padding: 12px, $minWidth: auto, $height: 22px, $gap: 4px);
  }
}

.btn-outline {
  border: 1px solid;

  &.outline-black {
    border-color: $gray00;
    outline: none;

    &:focus-visible {
      outline: 1px solid;
    }

    @include lg {
      &:hover,
      &:focus {
        background-color: $gray90;
      }
    }

    &:disabled,
    &.ant-btn-disabled {
      border-color: $gray60;
      background-color: transparent;
      color: $gray60;

      span {
        color: $gray60;
      }
    }
  }

  &.outline-gray {
    border-color: $gray80;

    &:hover,
    &:focus {
      background-color: $gray90;
    }

    &:disabled {
      border-color: $gray60;
      background-color: transparent;
      color: $gray60;

      span {
        color: $gray60;
      }
    }
  }

  &.outline-light-gray {
    border-color: $gray60;

    &:hover,
    &:focus {
      background-color: $gray90;
    }

    &:disabled {
      border-color: $gray60;
      background-color: transparent;
      color: $gray60;

      span {
        color: $gray60;
      }
    }
  }

  &.outline-white {
    border-color: $white;
    background-color: transparent;

    span {
      color: $white;
    }

    &:hover,
    &:focus {
      background-color: rgba($gray100, 0.2);
    }

    &:disabled {
      border-color: $gray60;
      background-color: transparent;
      color: $gray60;

      span {
        color: $gray60;
      }
    }
  }

  &.outline-highlight {
    @include themeChangeMixin(border-color, 1);
    @include themeChangeMixin(color, 1);

    span {
      @include themeChangeMixin(color, 1);
    }

    &:hover,
    &:focus {
      @include themeChangeMixin(background-color, 3);
    }

    &:disabled {
      border-color: $gray60;
      background-color: transparent;
      color: $gray60;

      span {
        color: $gray60;
      }
    }
  }

  &.block {
    width: 100%;
  }

  &.disabled {
    border-color: $gray60;
    background-color: transparent;
    color: $gray60;
    pointer-events: none;

    span {
      color: $gray60;
    }
  }
}

.btn-bg {
  border: 1px solid transparent;

  &.bg-black {
    border-color: $black;
    background-color: $black;
    color: $white;

    svg {
      path {
        fill: $white;
      }
    }

    span {
      color: $white;
    }

    &:hover,
    &:focus {
      background-color: $gray20;
    }

    &:disabled {
      border-color: transparent;
      background-color: $gray80;
      color: $gray60;

      // @include themeChangeMixin(background-color, 8);
      // @include themeChangeMixin(border-color, 8);

      span {
        color: $gray60;

        // @include themeChangeMixin(color, 7);
      }
    }
  }

  &.bg-white {
    background-color: $white;
    color: $gray00;

    &:hover,
    &:focus {
      border-color: transparent;
      background-color: $gray90;
    }

    &:disabled {
      background-color: $gray80;
      color: $gray60;

      span {
        color: $gray60;
      }
    }
  }

  &.bg-highlight {
    @include themeChangeMixin(background-color, 1);
    @include themeChangeMixin(border-color, 1);

    color: $white;

    span {
      color: $white;
    }

    &:hover,
    &:focus {
      @include themeChangeMixin(background-color, 5);
    }

    &:disabled {
      border-color: transparent;
      background-color: $gray80;
      color: $gray60;

      span {
        color: $gray60;
      }
    }
  }

  &.bg-soft {
    @include themeChangeMixin(background-color, 2);
    @include themeChangeMixin(border-color, 2);
    @include themeChangeMixin(color, 1);

    span {
      @include themeChangeMixin(color, 1);
    }
  }

  &.bg-gray {
    height: auto;
    padding: 0 6px;
    border: none;
    border-radius: 2px;
    background: $gray90;
    color: $gray00;

    @include fontFamilyTable(br);
  }
}

.btn-icon {
  $btnSizes: 40, 32, 24, 16, 12;

  border: 0;

  @each $btnSize in $btnSizes {
    &.btn-#{$btnSize} {
      width: $btnSize + px;
      height: $btnSize + px;

      @include md {
        width: ($btnSize + 8) + px;
        height: ($btnSize + 8) + px;
      }

      svg {
        width: calc(#{$btnSize}px - 8px);
        height: calc(#{$btnSize}px - 8px);

        @include md {
          width: ($btnSize) + px;
          height: ($btnSize) + px;
        }
      }
    }
  }

  &.view-switch {
    > div {
      width: 100%;
    }

    &.active {
      path {
        fill: $black;
      }

      rect {
        fill: $black;
      }
    }
  }

  &.btn-circle {
    overflow: hidden;
    border-radius: 100%;
  }

  &.pagination-prev,
  &.pagination-next,
  &.pagination-first,
  &.pagination-last {
    &:disabled {
      border-color: transparent !important;
      background-color: transparent !important;

      svg {
        path {
          stroke: $gray60;
        }
      }
    }
  }

  &.pagination-prev {
    transform: rotate(-180deg);
  }

  &.pagination-first {
    transform: rotate(-180deg);
  }
}

.btn-text {
  display: inline-flex;
  height: auto;
  align-items: center;
  border: none;

  &:hover {
    span {
      text-decoration: underline;
    }
  }

  &.btn-spacing {
    &-lg {
      span + svg {
        margin-left: 8px;
      }

      span + div {
        svg {
          margin-left: 8px;
        }
      }

      svg + span {
        margin-left: 8px;
      }

      div + span {
        margin-left: 8px;
      }
    }

    &-md {
      span + svg {
        margin-left: 4px;
      }

      span + div {
        svg {
          margin-left: 4px;
        }
      }

      svg + span {
        margin-left: 4px;
      }

      div + span {
        margin-left: 4px;
      }
    }

    &-sm {
      span + svg {
        margin-left: 2px;
      }

      span + div {
        svg {
          margin-left: 2px;
        }
      }

      svg + span {
        margin-left: 2px;
      }

      div + span {
        margin-left: 2px;
      }
    }
  }

  &.btn-icon {
    &-line-arrow {
      &.md {
        @include fontFamilyButton(mb);

        svg {
          width: 24px;
          height: 24px;

          @include md {
            width: 32px;
            height: 32px;
          }
        }
      }
    }

    /* 23.04.05 수정: arrow-xl 사이즈 추가 */
    &-arrow-xl {
      &.xl {
        // 22.12.20 추가 (다오 개별 홈 타이틀)
        @include fontFamilyHeading(mb);

        padding-top: 0 !important;

        svg {
          width: 24px;
          height: 24px;
          margin-top: 0;

          @include daoMd {
            width: 24px;
            height: 24px;
          }

          @include md {
            width: 24px;
            height: 24px;
          }

          @include daoSm {
            width: 16px;
            height: 16px;
          }

          @include sm {
            width: 16px;
            height: 16px;
          }
        }
      }

      &.lg {
        @include fontFamilyButton(lr);

        svg {
          width: 16px;
          height: 16px;
        }
      }

      &.md {
        @include fontFamilyButton(mr);

        svg {
          width: 12px;
          height: 12px;
        }
      }

      &.sm {
        @include fontFamilyButton(sr);

        svg {
          width: 12px;
          height: 12px;
        }
      }
    }

    &-arrow {
      &.xl {
        // 22.12.20 추가 (다오 개별 홈 타이틀)
        @include fontFamilyHeading(mb);

        padding-top: 0 !important;

        svg {
          width: 24px;
          height: 24px;
          margin-top: 0;

          @include daoMd {
            width: 20px;
            height: 20px;
          }

          @include md {
            width: 20px;
            height: 20px;
          }

          @include daoSm {
            width: 16px;
            height: 16px;
          }

          @include sm {
            width: 16px;
            height: 16px;
          }
        }
      }

      &.lg {
        @include fontFamilyButton(lr);

        svg {
          width: 16px;
          height: 16px;
        }
      }

      &.md {
        @include fontFamilyButton(mr);

        svg {
          width: 12px;
          height: 12px;
        }
      }

      &.sm {
        @include fontFamilyButton(sr);

        svg {
          width: 12px;
          height: 12px;
        }
      }

      svg {
        margin-top: 2px;
        transform: rotate(270deg);

        path {
          fill: $gray00;
        }
      }

      &.arrow-dir-top {
        svg {
          transform: rotate(180deg);
        }
      }

      &.arrow-dir-left {
        svg {
          transform: rotate(90deg);
        }
      }

      &.arrow-dir-bottom {
        svg {
          transform: rotate(0);
        }
      }
    }

    &-scroll {
      &.sm {
        @include fontFamilyButton(sb);
      }
    }

    &-link {
      @include fontFamilyBody(u);

      text-underline-offset: 3px;

      svg {
        @include md {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  &.arrow-dir {
    &-top {
      svg {
        transform: rotate(180deg);
      }
    }

    &-right {
      svg {
        transform: rotate(-90deg);
      }
    }

    &-left {
      svg {
        transform: rotate(90deg);
      }
    }

    &-bottom {
      svg {
        transform: rotate(0);
      }
    }
  }
}

// button 개별 css
.btn-header {
  border-radius: 50%;
  transition: background-color 0.3s;

  &:hover {
    @include lg {
      background-color: $gray80;
    }
  }

  &:focus {
    border: 1px solid $gray00;
  }
}

.btn-user-open {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;

  &:focus-visible {
    outline: 1px solid;
  }

  &.inner-name {
    flex-wrap: wrap;

    & > span {
      display: block;
      width: 100%;

      & + span {
        margin-top: 2px;
      }
    }

    @at-root .table-type-lg & {
      width: 100%;
      flex-wrap: nowrap;
      justify-content: flex-start;

      & > span {
        width: auto;

        & + span {
          margin-top: 0;
          margin-left: 4px;
        }
      }
    }
  }
}

.user-image {
  display: block;

  // border: 1px solid $gray90;
  border-radius: 50%;
  background-color: map.get($egypt, 1);
  background-image: url("#{$rootPath}/icon/profile/ico_profile_login_1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @for $i from 0 to 21 {
    &.type#{$i} {
      background-color: map.get($egypt, $i % 10 + 1);  // 임시 배경 색
      background-image: url("#{$rootPath}/icon/profile/ico_profile_login_#{$i}.svg");
    }
  }

  @for $i from 1 through 10 {
    &.profile-color-#{$i} {
      background-color: map.get($egypt, $i);
    }
  }

  &.anon {
    background-color: transparent;
  }

  &.metamask {
    background-color: $gray100;
    background-image: url("#{$publicImgPath}/img_metamask.png");
    background-size: 28px auto;
  }

  &.wemix-wallet {
    background-color: $gray100;
    background-image: url("#{$publicPath}/ico_wemixwallet.svg");
    background-size: 32px auto;
  }
}

.btn-like {
  display: flex;
  height: auto;
  align-items: center;
  border: none;

  svg {
    width: 24px;
    height: 24px;

    @include md {
      width: 32px;
      height: 32px;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .ico_heart_svg__heart-inner {
    transition: fill 0.3s;
  }

  &.active {
    /* stylelint-disable-next-line selector-class-pattern */
    .ico_heart_svg__heart-inner {
      fill: $black;
    }
  }

  .like-count {
    margin-left: 4px;

    @include fontFamilyData(cs);
  }
}

// 공유하기 버튼
.share-wrap {
  .btn-share {
    display: inline-flex;
    align-items: center;

    svg {
      width: 24px;
      height: 24px;

      @include md {
        width: 32px;
        height: 32px;
      }

      @include sm {
        width: 24px;
        height: 24px;
      }

      path {
        transition: fill 0.3s;
      }
    }

    &.ant-dropdown-open {
      svg {
        path {
          fill: $highlight;
        }
      }

      .btn-text {
        color: $highlight;
      }
    }
  }

  .share-list {
    width: 156px;
    padding: 8px 0;
    border: 1px solid $black;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 5px 20px rgb(0 0 0 / 20%);

    li {
      @include fontFamilyUi(tabmr);
    }

    button {
      @include fontFamilyUi(tabmr);

      display: block;
      width: 100%;
      padding: 12px !important;
      font-size: 16px !important; // TODO: 23/3/25 운영에서 font:inherit inline으로 들어가서 임의 수정
      text-align: left;

      @include sm {
        padding: 10px 12px !important;
        font-size: 14px !important; // TODO: 23/3/25 운영에서 font:inherit inline으로 들어가서 임의 수정
      }
    }
  }
}

// 카운트다운 버튼
.btn-count {
  .rotate {
    display: flex;
    align-items: center;
    animation-duration: 1s;
    animation-name: rotate;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

// START: Unfolding Soon 버튼 11/11 오픈용
// 툴팁형
.ant-popover-disabled-compatible-wrapper {
  display: inline-flex !important;
  align-items: center;
  outline: none;

  &.btn-bg {
    border-color: $gray30;
    background-color: $gray30;

    &:hover {
      border-color: $gray30;
      background-color: $gray30;
    }

    .ant-btn {
      border-color: $gray30;
      background-color: $gray30;
    }
  }

  &.btn-outline.outline-black {
    border-color: $gray60;

    .ant-btn {
      color: $gray60;
    }

    &:hover {
      background-color: $white;
    }
  }

  .ant-btn {
    font-size: inherit;

    &:hover {
      background-color: $gray30;
    }

    span {
      color: $gray50;
    }
  }
}

// 토스트 팝업형
.ant-btn-primary {
  &.btn-bg {
    border-color: $gray80;
    background-color: $gray80;
    color: $gray60;

    &:hover {
      background-color: $gray80;
      color: $gray60;
    }
  }

  &.btn-outline {
    border-color: $gray60;

    &:hover {
      background-color: transparent;
    }

    span {
      color: $gray60;
    }
  }
}

// END: Unfolding Soon 버튼 11/11 오픈용

.dao-scan-table-button {
  display: flex;
  width: 88px;
  height: 18px;
  align-items: center;
  padding: 0 8px;
  padding-right: 5px;
  border: none;
  background-color: $gray90;

  .text {
    display: block;

    @include fontFamilyTable(br);
    @include ellipsis(1);
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $gray00;
    color: $gray100;

    span {
      color: $gray100;
    }
  }
}
